:root {
  --red: #e60023;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
img {
  width: 100%;
}
.App {
  width: 100%;
  display: grid;
}
.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.4rem;
}
.logo {
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  display: grid;
  width: 50px;
}
.logo:hover {
  background-color: #efefef;
}
.home {
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: bold;
}
.home a {
  text-decoration: none;
  color: inherit;
}
.search {
  display: grid;
}
.search input {
  padding: 0.7rem;
  outline: none;
  border-radius: 1.5rem;
  background-color: #efefef;
  border: none;
}
.search input:focus {
  outline: 4px solid #4a85c9bd;
}
.button {
  border-radius: 1.5rem;
  margin: 0px 5px;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button:hover,
.search input:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.089);
}
.button.log-in,
.button.save,
.button.submit,
.button.log-out {
  background-color: #e60023;
  color: white;
}
.button.profile {
  display: grid;
  border-radius: 50%;
}
.button.profile img {
  width: 30px;
  border-radius: 50%;
}
.profile-button__container {
  display: grid;
  grid-template-columns: 1fr auto;
}
.pins-container {
  display: grid;
  padding: 1rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.pins-container a {
  text-decoration: none;
  color: inherit;
}
.pin img {
  display: grid;
  cursor: zoom-in;
  border-radius: 1rem;
  object-fit: cover;
}

.pin span {
  font-weight: bold;
  padding-left: 0.5rem;
  list-style: none;
}

.pin-detail-wrapper {
  display: grid;
  justify-items: center;
  padding: 1rem;
}
.pin-detail-container {
  display: grid;
  gap: 1rem;
  width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 1px 20px 0px;
  border-radius: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}
.pin-detail__image img {
  border-radius: 2rem;
}
.save {
  position: absolute;
  right: 0;
}
.pin-detail__descriptions {
  display: grid;
  position: relative;
  place-content: start;
  gap: 1rem;
  padding: 1rem;
}
.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.479);
}
.modal {
  background-color: white;
  border-radius: 1rem;
  display: grid;
  padding: 1rem;
  place-content: start;
  justify-items: center;
  position: relative;
}
.close-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border: none;
  display: grid;
  padding: 0.5rem;
  background: none;
  border-radius: 1rem;
}
.close-modal:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.089);
}
.modal-details {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}
.modal form {
  display: grid;
  gap: 1rem;
}
.modal input {
  padding: 1rem;
  outline: 1px solid rgba(128, 128, 128, 0.342);
  border-radius: 1rem;
  border: none;
}
.modal input:focus {
  outline: 4px solid #4a85c9bd;
}
.modal p {
  font-size: 0.7rem;
  width: 50ch;
}
.modal-details__check {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(2, 2, 2, 0.774);
  cursor: pointer;
}
.create-pin__button-on-page {
  padding: 2rem;
  border-radius: 50%;
  display: grid;
  width: 10px;
  height: 10px;
  place-content: center;
  position: fixed;
  right: 20px;
  border: none;
  background: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.199);
  bottom: 50px;
  cursor: pointer;
}
.create-pin__button-on-page img {
  width: 20px;
}
.modal-wrapper.create {
  position: fixed;
  place-items: end;
  background: unset;
}
.modal.create {
  right: 120px;
  bottom: 50px;
}
.modal-create__button {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  background: none;
  border: none;
  gap: 1rem;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.2rem 1rem;
}
.modal-create__button:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}
.modal-create__button span {
  font-size: 1.1rem;
  font-weight: bold;
}
.profile-main {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: start;
  padding: 1rem;
  gap: 0.5rem;
}
.profile-main__photo {
  width: 130px;
  border-radius: 50%;
}
.profile-main__title {
  text-transform: capitalize;
}
.profile-main span {
  color: #767676;
  font-weight: 300;
}
.action-bar {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.action-bar button {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.1rem;
  border-radius: 0.5rem;
}
.action-bar button:focus {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.action-bar button:hover {
  background: rgba(128, 128, 128, 0.158);
}
.created-pins {
  margin-top: 150px;
}
.created-list {
  display: grid;
  margin-top: 70px;
  list-style-type: none;
  gap: 1rem;
  grid-auto-flow: column;
}
.created-list__item {
  width: 200px;
  height: 200px;
}
.created-list__item img {
  display: grid;
  height: 200px;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}
