:root {
  --red: #e60023;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
img {
  width: 100%;
}
.App {
  width: 100%;
  display: grid;
}
.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.4rem;
}
.logo {
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  display: grid;
}
.logo:hover {
  background-color: #efefef;
}
.home {
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  padding: 0.6rem;
  cursor: pointer;
  font-weight: bold;
}
.home a {
  text-decoration: none;
  color: inherit;
}
.search {
  display: grid;
}
.search input {
  padding: 0.7rem;
  outline: none;
  border-radius: 1.5rem;
  background-color: #efefef;
  border: none;
}
.search input:focus {
  outline: 4px solid #4a85c9bd;
}
.button {
  border-radius: 1.5rem;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button:hover,
.search input:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.089);
}
.button.log-in,
.button.save {
  background-color: #e60023;
  color: white;
  color: white;
}
.pins-container {
  display: grid;
  padding: 1rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.pins-container a {
  text-decoration: none;
  color: inherit;
}
.pin img {
  display: grid;
  cursor: zoom-in;
  border-radius: 1rem;
  object-fit: cover;
}

.pin span {
  font-weight: bold;
  padding-left: 0.5rem;
  list-style: none;
}

.pin-detail-wrapper {
  display: grid;
  justify-items: center;
  padding: 1rem;
}
.pin-detail-container {
  display: grid;
  gap: 1rem;
  width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 1px 20px 0px;
  border-radius: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}
.pin-detail__image img {
  border-radius: 2rem;
}
.save {
  position: absolute;
  right: 0;
}
.pin-detail__descriptions {
  display: grid;
  position: relative;
  gap: 1rem;
  padding: 1rem;
}
